<header>

  <h1 style="text-align: center">EAT-DA-BURGER!</h1>

</header>

<div class="container" style="text-align: -webkit-center; padding-top: 2%">
  <div class="row">
    <div class="col-sm-6">
      <h5 class="text-center py-1">BURGERS YOU HAVEN'T TRIED!</h5>

      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block}}
      {{/unless}}
      {{/each}}
    </div>

    <div class="toeat col-sm-6">
      <h5 class="text-center py-1">BURGERS TRIED!</h5>
      <ul class="">
        {{#each burgers}}
        {{#if devoured}}
        <li class="ate list-group-item list-group-item-success">{{burger_name}}</li>
        {{/if}}

        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row list-group" style="margin-top: 30px;">
    <div class="col-sm-12">
      <h5>ADD A BURGER</h5>
      <form class="create-form">
        <input class="mx-auto d-block" placeholder="Enter a Burger Name" type="text" id="ca" name="name">
        <input type="radio" id="eaten" name="add" value="1">
        <label for="eaten">Eaten!</label><br>
        <input type="radio" id="try" name="add" value="0">
        <label for="try">Have to Try It!</label><br>
        <input class="btn btn-primary" type="submit" value="Submit">
      </form>
    </div>
  </div>

</div>