<header>
  <h1><img
      src="https://images.vexels.com/media/users/3/152676/isolated/lists/4901900ec6cd623e843598a78d23eefa-triple-cheeseburger-icon.png"
      alt="burger"></h1>
  <h1>EAT-DA-BURGER!</h1>

</header>

<div class="container" style="text-align: -webkit-center; padding-top: 2%">
  <div class="row mb-3" style="justify-content: center">
    <div class="col-sm-4">
      <h5 class="text-center py-1">BURGERS TO BE POUNDED!</h5>

      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burger-block}}
      {{/unless}}
      {{/each}}
    </div>

    <div class="toeat col-sm-4">
      <h5 class="text-center py-1">BURGERS YOU ANNIHALATED!</h5>
      <ul class="">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <h5 class="text-center py-1">ADD YOUR BURGER</h5>
    <form class="create-form">
      <input class="mx-auto d-block" placeholder="Enter a Burger Name" type="text" id="ca" name="name">
      <label for="ca"></label>
      <input type="radio" id="eaten" name="add" value="1">
      <label for="eaten">Eaten!</label><br>
      <input type="radio" id="try" name="add" value="0">
      <label for="try">Have to Try It!</label><br>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>