<li class="ate list-group-item">{{burger_name}} {{#unless devoured}}
	<button class="change-devoured btn btn-primary" data-id="{{id}}" data-newdevoured="{{devoured}}">
		Devour It!!!
	</button>
	{{/unless}}</li>